@model PC1.Controllers.OperacionModel

<h2>Resultado de la Inversi贸n</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Nombre y Apellido</th>
        <td>@Model.Nombre</td>
    </tr>
    <tr>
        <th>Correo Electr贸nico</th>
        <td>@Model.Correo</td>
    </tr>
    <tr>
        <th>Fecha de Operaci贸n</th>
        <td>@Model.FechaOperacion.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th>Instrumentos Seleccionados</th>
        <td>
            @if (Model.Instrumentos != null && Model.Instrumentos.Any())
            {
                <ul>
                    @foreach (var instrumento in Model.Instrumentos)
                    {
                        <li>@instrumento</li>
                    }
                </ul>
            }
            else
            {
                <span>Ninguno</span>
            }
        </td>
    </tr>
    <tr>
        <th>Monto a Abonar</th>
        <td>S/@Model.MontoAbonar?.ToString("0.00")</td>
    </tr>
    <tr>
        <th>Comisi贸n</th>
        <td>S/@Model.Comision?.ToString("0.00")</td>
    </tr>
    <tr>
        <th>IGV</th>
        <td>S/@Model.IGV?.ToString("0.00")</td>
    </tr>
    <tr>
        <th>Total a Pagar</th>
        <td>S/@Model.TotalAPagar?.ToString("0.00")</td>
    </tr>
</table>

<a href="/">Regresar</a>
